<h1>Formulario de Mascotas</h1>
<form (submit)="saveMascota()" [formGroup]="mascotaForm">
  <label>Nombre:</label>
  <input type="text" formControlName="nombre" />
  <label>Dueño:</label>
  <input type="text" formControlName="duenio" />
  <label>Edad:</label>
  <input type="text" formControlName="edad" />
  <button type="submit">Guardar</button>
</form>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dueño</th>
      <th>Edad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (mascota of mascotas; track $index) {

    <tr>
      <td>{{ mascota.nombre }}</td>
      <td>{{ mascota.duenio }}</td>
      <td>{{ mascota.edad }}</td>
      <td>
        <button (click)="actualizarMascota(mascota)">Editar</button>
        <button (click)="deleteMascota(mascota.id)">Eliminar</button>
      </td>
    </tr>
    }

  </tbody>
</table>